/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* agoracustom */
p {
  font-family: 'Roboto Slab', 'Helvetica Neue', sans-serif;
  font-size:0.8em;
  font-weight:300;
}

p.title {
  font-weight: 300;
  font-size:2em;
  margin-bottom:-5px;
}

p.text {
  font-size: 1em;
}

b {
  font-weight: 300;
  font-style: normal;
}

.green {
  color: #37b34a;
}

.navbar {
  /*margin-bottom: 0px; looks shit with fixed */
  background-color: #333333;
  border-radius: 0px;
}

/* remaking the colors and stuffs */
.navbar-nav>.active>a {

}

.navbar-nav>li>a {
  transition: 0.2s;
  font-weight: 500;
  padding-bottom: 10px;
  padding-top: 10px;
  color:white;
}
.navbar-nav>li>a:hover {
  color: white;
}
.navbar-nav>li.active>a {
  color: #37b34a;
  border-bottom: 5px solid #37b34a;
}.navbar-nav>li.active>a:hover {
  background-color: #4d4d4d;
  color: white;
}

.dropdown-menu {
  background: #333333;
  color: white;
}
.dropdown-menu>li>a {
  color: #777;
}
.dropdown-menu>li>a:hover {
  background-color: #37b34a;
  background-image: none;
}
.dropdown-menu>.nav-header {
  padding-left: 7%;
}

/* navbar padding fix */
.navbar-brand {
  padding-bottom: 0;
}
.navbar {
  min-height: 40px;
}

/* form styling */
form {
  font-size: 2em;
  text-align: center;
}
input {
  border: 2px solid #DDD;
  border-radius: 8px;
  margin-bottom: 20px;
  text-align: center;
}
input[type="submit"] {
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #3498db;
  border-radius: 12px;
  color: whitesmoke;
}
a {
  /* flatuicolors */
  color: #3498db;
}
a.nodecor {
  text-decoration: none;
}
hr {
  border-color: #DDD;
}
.errors {
  color: #e74c3c;
  font-size: 0.8em;
}
.errors li {
  margin-bottom: 15px;
}
ul {
  list-style-type: none;
  padding: 0;
}

/* project stuff */
#addproj {

}
#addproj form {
  text-align: inherit;
}
#addproj.pshow {
  
}
#addproj.phide {

}
#projform {

}

/* for the main content */
/* this is the wrapper.. inside the bootstrap wrapper ._. >< */
#rcontent {
  width: 100%;
  height: 100%;
  margin: 0 auto 0 auto;
  overflow: hidden;
  padding: 10px 50px;
  background: #EEE;
  color: #333;
  font-size: 1.2em;
}

#centerblock {
  width: 70%;
  /* fix that navbar in */
  margin: 70px auto 0 auto;
}

.tabled {
  display: table;
  height: 600px;
}

.tablec {
  /* vertically center in a table */
  display: table-cell;
  vertical-align: middle;
}

.tleft {
  font-size: 2em;
  text-align: left;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -40px;
  /* Pad bottom by footer height */
  padding: 0 0 40px;
  background: #EEE;

  /* agora */
}

/* Set the fixed height of the footer here */
#footer {
  /*height: 60px;
  background-color: #f5f5f5;*/
  height: 40px;
  background-color: #333333;
}

/* fix that text in the footer */
.padtop {
  padding-top: 12px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

h1 {
  font-family: 'Roboto Slab', 'Helvetica Neue', sans-serif;
  font-weight: 400;
}



/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding: 60px 15px 0;
}
.container .credit {
  /*margin: 20px 0;*/
  margin: 0 0;
}

code {
  font-size: 80%;
}