/* Parallax stuff
-----------------------------------------------------
*/

.float-left{
  font-size: 2em;
  float: left;  
  margin: 0 0 0 20px;
}

.float-right{
  font-size: 2em;
  float: right;
  margin: 0 20px 0 0;
  text-align: right;
}

.center{
  font-size: 2em;
  padding: 80px 0 0 0;
  text-align: center;
}

.story{
  margin: 0 auto;
  min-width: 980px;
  overflow: auto;
  width: 980px;
}

.story .float-left, .story .float-right{
  padding: 200px 0 0 0;
  position: relative;
  width: 75%; 
}

#intro, #second, #third, #fourth{
  height: 600px;
  width: 100%;
  color: white;
  margin: 0 auto 0 auto;
  overflow: hidden;
  padding: 0;
  background-size: 100% 100%;
}

#intro {
  height: 700px;
  background: url(images/blackbackground.svg) 50% 0 no-repeat fixed; 
  background-color: #4d4d4d;
  /*background-attachment: fixed;
  background-position: 50% 0px;
  background-repeat: no-repeat no-repeat;*/
}

#second {
  background:url(images/hackathon.jpg) 50% 0 no-repeat fixed;
  background-attachment: fixed;
  background-position: 50% 0px;
  background-repeat: no-repeat no-repeat;
}

#third {
  background:url(images/arduino.jpg) 50% 0 no-repeat fixed;
  background-attachment: fixed;
  background-position: 50% 0px;
  background-repeat: no-repeat no-repeat;
}

#fourth {
  background:url(images/sublime.jpg) 50% 0 no-repeat fixed;
  background-attachment: fixed;
  background-position: 50% 0px;
  background-repeat: no-repeat no-repeat;
}