{% extends "base.html" %}
{% import "helpers/forms.html" as forms %}
{% import "helpers/tables.html" as tables %}

{% block content %}
{{super()}}

<form action="{{url_for('application.view_projects')}}" method="POST">
<fieldset>
<h1>Add A Project</h1>
{{ forms.render(form) }}
<p><input type="Submit" value="Add Project"></p>
</fieldset>
</form>

<hr>

<table>
{{ tables.render(projects) }}
</table>

  
{% for entry in projects %}
<h1>{{entry[2]}}</h1>
<p class="text">{{entry[3]}}</p>
<hr>
{% else %}
<em>Unbelievable.  No entries here so far</em>
{% endfor %}

{% endblock %}