{% extends "base.html" %}

{% block head %}
<meta name="description" content="R&amp;D helps undergraduates find and develop their extracurricular interests through personal projects.">
{% endblock %}

{% block content %}
<h1>About</h1>
<hr>
<p class="text">We are a student organization that helps undergraduates find and develop research positions for unique projects. Our mission is to build a collaborative environment for members to challenge each other to pursue their personal interests. Our club encourages students to form a research community where they can freely cultivate innovative ideas and bring them to completion with the help of their peers. The organization will provide opportunities for undergraduate students to explore further their special interests and apply their skills with our guidance. Students may submit their own project ideas or apply to join a project that they are interested in. </p>
<p class="text">Undergraduates from all schools and colleges at UC Berkeley are welcome to apply. Opportunities are available year-round and new ideas are always encouraged. </p>

<h1>Contact</h1>
<hr>
<p class="text">For general questions or comments, please email <a href="mailto:team@rnd.berkeley.edu.">team@rnd.berkeley.edu</a></p>
<p class="text">For questions regarding a specific project, please apply and contact the person in charge.</p>

{% endblock %}
