{% extends "base.html" %}
{% block styles %}
  <link href="{{ url_for('static', filename='home.css') }}" rel="stylesheet" />
  <!-- parallax -->
  <script type="text/javascript" src="{{ url_for('static', filename='scripts/jquery.parallax-1.1.3.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='scripts/jquery.localscroll-1.2.7-min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='scripts/jquery.scrollTo-1.4.2-min.js') }}"></script>
  <script type="text/javascript">
  $(document).ready(function(){
    $('#nav').localScroll(800);
    
    //.parallax(xPosition, speedFactor, outerHeight) options:
    //xPosition - Horizontal position of the element
    //inertia - speed to move relative to vertical scroll. Example: 0.1 is one tenth the speed of scrolling, 2 is twice the speed of scrolling
    //outerHeight (true/false) - Whether or not jQuery should use it's outerHeight option to determine when a section is in the viewport
    $('#intro').parallax("50%", 0.02);
    $('#second').parallax("50%", 0.02);
    $('.bg').parallax("50%", 0.4);
    $('#third').parallax("50%", 0.02);

  })
  </script>
{% endblock %}


{% block content %}

<div id="intro">
  <div class="story">
    <div class="center">
      <img src="{{ url_for('static', filename='images/logo dark.svg') }}" style="height: 400px; width: auto;">
      <p class="title">Design. Engineer. Build.</p>
      <p>Welcome to <b class="green">Research &amp; Development at Berkeley</b>! We are a student organization here to help undergraduates find opportunities to collaborate with other students on personal projects. Undergraduates from all schools and colleges at UC Berkeley are welcome to apply for opportunities all year round.</p>
    </div>
  </div>
</div>

<div id="second" style="background-image:url('{{ url_for('static', filename='images/greenbackground.svg') }}');">
    <div class="container">
        <div class="row">
          <div class="story" style="margin: 0; width:100%">
            <div class="col-sm-5 tabled">
              <div class="tablec"><img src="{{ url_for('static', filename='images/flat cloc.svg') }}" style="height: 300px; width: auto; float: right;"></div>
            </div>
            <div class="col-sm-7 tabled">
              <div class="tablec tleft" style="padding-right: 25px;">
                <p class="title">Coming soon!</p>
                <p>Come back later in the school year to find out more about who we are and what we do.</p>
              </div>
          </div>
        </div>
    </div>
  </div>
</div>

{% endblock %}