{% extends "base.html" %}

{% block content %}
<h1>Events</h1>
<hr>
<p class="text">Our aim is to build an environment where undergraduates can discuss and collaborate on research and development projects. To forge a community among students of varying fields and interests, we hold several social events throughout the year for members to meet and have fun!</p>

<!-- Someone make a google calendar for all this and put it here -->
<ul>
  <li><p class="text">Welcoming</p>
    <p class="text">At the beginning of each semester, we invite all members to get together and pitch ideas for new projects while enjoying great food.</p></li>
  <li><p class="text">Project Showcase</p>
    <p class="text">At the end of the year, we invite all members to get together and present what they have accomplished. </p></li>
</ul>

{% endblock %}