{% extends "base.html" %}
{% block styles %}
  <link href="{{ url_for('static', filename='home.css') }}" rel="stylesheet" />
  <!-- parallax -->
  <script type="text/javascript" src="{{ url_for('static', filename='scripts/jquery.parallax-1.1.3.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='scripts/jquery.localscroll-1.2.7-min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='scripts/jquery.scrollTo-1.4.2-min.js') }}"></script>
  <script type="text/javascript">
  $(document).ready(function(){
    $('#nav').localScroll(800);
    
    //.parallax(xPosition, speedFactor, outerHeight) options:
    //xPosition - Horizontal position of the element
    //inertia - speed to move relative to vertical scroll. Example: 0.1 is one tenth the speed of scrolling, 2 is twice the speed of scrolling
    //outerHeight (true/false) - Whether or not jQuery should use it's outerHeight option to determine when a section is in the viewport
    $('#intro').parallax("50%", 0.02);
    $('#second').parallax("50%", 0.02);
    $('.bg').parallax("50%", 0.4);
    $('#third').parallax("50%", 0.02);

  })
  </script>
{% endblock %}




<!--{% block textcontent %}
      <div class="page-header">
        <h1>Berkeley RND</h1>
        <p>We're makers, do-ers, tinker-ers, whatever you want to call it, and I'm coding way too late at night to be writing lorem ipsums.</p>
      </div>
{% endblock %}-->





{% block content %}
<!--<h1>Hulloh, {{user.nickname}}!</h1>-->
{% for post in posts %}
<!--<div><p>{{post.author.nickname}} says: <b>{{post.body}}</b></p></div>-->
{% endfor %}


<div id="intro">
  <div class="story">
    <div class="center">
      <img src="{{ url_for('static', filename='images/logo dark.png') }}" style="height: 55%; width: auto; margin-top:-50px;">
      <p class="title">Design. Engineer. Build.</p>
      <p>Welcome to <b class="green">R&amp;D</b> at Berkeley</b>, where ideas and designs meet with soldering guns
        and raw material. If you can design it, you can build it.</p>
    </div>
  </div>
</div>

<div id="second">
  <div class="story">
    <div class="float-left">
  	  <p class="title">We're makers.</p>
      <p>and we make in teams, discussing, debating, tinkering and remaking.</p>
    </div>
  </div>
</div>

<div id="third">
  <div class="story">
    <div class="float-right">
      <p class="title">We’re do-ers.</p>
      <p>and we make in teams, discussing, debating, tinkering and remaking.</p>
    </div>
  </div>
</div>

<div id="fourth">
  <div class="story">
    <div class="center" style="margin-top: 100px;">
      <p class="title">I wish that</p>
      <p>these goddamn pictures had more vibrant colors in them. hi shum this is the actual website not the illustrator mockup.</p>
    </div>
  </div>
</div>

{% endblock %}