{% extends "base.html" %}

{% block content %}
<div id="rcontent">
  <div id="centerblock">
    <h1>Projects</h1>
    <hr>
    <p class="text">Our goal is to help undergraduate students deepen their academic knowledge and use it in a more applicable and hands-on setting in their areas of special interest. Our organization highly encourages students to submit project concepts for their own personal interests and we will work to bring their ideas to life as a club. In addition, if any of the descriptions of the projects in progress interest you, feel free to apply below to join. </p>
    <p class="text">Here is a list of projects currently available. If you would like to submit a project or join one, request to join the club <a href = “https://callink.berkeley.edu/organization/researchanddevelopment”>here</a> and we will contact you as soon as possible.</p>
    <!--Project Template:
    Title: {Bold}
    Person in charge: {email address}
    What we do: {Synopsis}
    [Apply] [More Information] -->
    <ul>
        <li><p class="text"><b>Weather Balloon Space Probe</b></p>
            <p class="text">Our goal is to send a weather balloon space probe to the stratosphere with the intent to capture images of the Earth’s curvature from approximately 15 miles above the surface and to retrieve all the instrumentation when the probe lands back on Earth.</p>
            <p class="text"><a href=”https://docs.google.com/document/d/1keUSDVxFVLMXCeMBL0-2fiYsR-2DFKUPLnT4savMZes/edit?usp=sharing”> More Information </a></p></li>
        <li><p class="text"><b>Rapid Prototyping</b></p>
            <p class="text">We are currently working on building a Prusa i3 3D printer, sourcing components separately. We’re hoping to build additional printers once the first one is completed.</p></li>
         <li><p class="text"><b>Web Design</b></p>
            <p class="text">We are always seeking new people to help improve the look and feel of our website.</p></li>
        
    </ul>
  </div>
</div>
{% endblock %}
